.not_for_git
to_do
logs

tests/api_sync

allure-results
allure-report

state.json
compose_*

pyrightconfig.json

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.venv/
.env
.DS_Store
.idea/
.vscode/
