.*
__*

# Питон
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# пайтест
.pytest_cache/

# Playwright
.playwright/
playwright-report/
test-results/
*.log

# переменные окружения. пока нет но планирую добавить
.env
.env.*

# Докер
*Dockerfile*
*compose*.yml
.dockerignore